@font-face {
    font-family: Digital;
    font-weight: 400;
    font-style: normal;
    src: url("digital-7.ttf") format("ttf"), url("digital-7-mono.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: Digital;
    font-weight: 400;
    font-style: italic;
    src: url("digital-7.ttf") format("ttf"), url("digital-7-mono-italic.ttf") format("ttf");
    font-display: swap;
}
